@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --prim-color:#FF6701;

  --Inter:"Inter", sans-serif;
}
